@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.pokemon_logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon_logo_img{
    width: 600px
}

.pokemon_container{
    margin: 0% 2%;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.pokemon_card{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    flex: 1;
    height: 300px;
    border: 1px solid black;
    padding: 2rem 3rem;
    gap: 2rem;
}
